# REDIS FOR CACHE
REDIS_CACHE_ADDR=localhost:6379
REDIS_CACHE_PASS=1234

# REDIS FOR QUEUE
REDIS_BULL_ADDR=localhost:6379
REDIS_BULL_PASS=1234


# NATS
NATS_URL=nats://localhost:4222

# FARM-TAG
FARM_NAME=1
